

<div class="row">
    <div class="col-6">
        <div  id="map">
        </div>
        
    </div>
    <div class="col-6">
        <form [formGroup]="formulario">
            <div class="row mb-3">
                <div class="col-4 text-end"><label for="name">Nombre: </label></div>
                <div class="col-8"><input type="text" formControlName="name" class="form-control" aria-label="Username">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-4 text-end"><label for="celphone">Telefono: </label></div>
                <div class="col-8"><input type="text" formControlName="number" class="form-control" aria-label="Number">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-4 text-end"><label for="email">Correo electronico: </label></div>
                <div class="col-8"><input type="text" formControlName="email" class="form-control" aria-label="email">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-4 text-end"><label>Comentarios: </label></div>
                <div class="col-8"><textarea class="form-control" aria-label="With textarea"
                        formControlName="comments"></textarea>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-4"></div>
                <div class="col-8"><button type="button" class="btn btn-secondary">Enviar</button></div>
            </div>

        </form>
    </div>
</div>