
    <div class="card-content">
        <div class="card">
            <div><img  class="picture" src="assets/Victoria.jpeg"></div>
            <div class="content">
                <div class="name">
                    <h2>Victoria Rodriguez<br></h2>
                    <div class="information">
                        <h3>5 años<br><span>Edad</span></h3>
                        <h3>Bailarina<br><span>Talento</span></h3>
                     </div>
                     <div class="actionbtn">
                        <button>Perfil</button>
                        <button>Más información</button>
                </div>  
                </div>
              
    </div>
