<div class="subject-container">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Ballet</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
                type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Artes Marciales</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane"
                type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Artes Visuales</button>
        </li>

    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
            tabindex="0">
            <p>El ballet es una forma de arte que se originó en los siglos XV y XVI en la corte de Luis XIV de Francia.
                A lo largo de su historia, ha evolucionado y se ha convertido en una expresión artística altamente
                refinada que combina música, danza y narrativa. El ballet se caracteriza por su técnica precisa,
                movimientos gráciles y elegantes, así como por su énfasis en la expresión emocional a través del
                movimiento.</p><br>
            <p>El desarrollo del ballet moderno se atribuye en gran medida a Jean-Georges Noverre, quien en el siglo
                XVIII introdujo cambios significativos en la forma tradicional de presentar el ballet. Noverre enfatizó
                la importancia de la narrativa y la interpretación emocional, y se alejó de las presentaciones puramente
                ornamentales.</p><br>
            <p>Durante el siglo XIX, el ballet se estableció como una forma de entretenimiento popular en Europa,
                especialmente en Rusia. Grandes coreógrafos como Marius Petipa y compositores como Piotr Ilich
                Tchaikovsky colaboraron para crear algunas de las obras más famosas del repertorio clásico, como "El
                lago de los cisnes", "La bella durmiente" y "El cascanueces".</p><br>
            <p>En el siglo XX, el ballet continuó evolucionando con el surgimiento del ballet moderno. Coreógrafos como
                George Balanchine, Martha Graham y Merce Cunningham rompieron con las convenciones clásicas y exploraron
                nuevas formas de movimiento y expresión en el ballet. Surgieron también compañías de ballet
                contemporáneo, como el Ballet Real Danés y el Ballet Nacional de Holanda, que combinaron elementos de la
                danza clásica con técnicas más experimentales.</p><br>
            <p>El ballet es un arte excepcional para ejercer debido a varias razones. En primer lugar, es una disciplina
                que requiere un alto nivel de dedicación y esfuerzo físico. Los bailarines de ballet deben entrenar
                durante años para desarrollar la técnica necesaria y mantenerse en forma. Este entrenamiento riguroso
                tiene beneficios para la salud, como el fortalecimiento de los músculos, la mejora de la flexibilidad y
                el desarrollo de la resistencia cardiovascular.</p><br>
            <p>Además, el ballet ofrece una forma única de expresión artística. Los bailarines pueden comunicar
                emociones y contar historias a través del movimiento y la música. La combinación de la música clásica y
                la danza en el ballet crea una experiencia estética que puede ser conmovedora y emocionalmente
                impactante tanto para los intérpretes como para el público.</p><br>
            <p>El ballet también fomenta la disciplina, la concentración y la autoexpresión. Los bailarines aprenden a
                trabajar en equipo y a seguir instrucciones precisas, lo que desarrolla habilidades de colaboración y
                responsabilidad. Además, el ballet promueve la autoconfianza y el crecimiento personal al superar
                desafíos físicos y artísticos.</p><br>
            <p>En resumen, el ballet es una forma de arte rica en historia y expresión. Requiere dedicación, disciplina
                y esfuerzo físico, pero ofrece una experiencia estética única y una oportunidad para expresarse
                artísticamente. Es una disciplina beneficiosa tanto para el cuerpo como para la mente, y puede ser una
                elección gratificante para aquellos interesados en el arte y la danza.</p><br>
                <div class="card" style="width: 18rem;">
                    <img src="assets/ninaballet.jpg" class="card-img-top" alt="ninaballet">
                    <div class="card-body">
                      <h5 class="card-title">Estudiante de ballet de 4 años</h5>
                    </div>
                  </div>
            <br>
            Referencias:
            <br>
            <ul>
                <li>Anderson, J. (1992). Ballet & Modern Dance: A Concise History. Princeton Book Co Publishers.</li>
                <br>
                <li>Au, S. (2002). Ballet and Modern Dance. Thames & Hudson.</li><br>
                <li>Kant, M. (2016). The Cambridge Companion to Ballet. Cambridge University Press.</li><br>
                <li>Oakland, K. (2013). The Ballet Book: Learning and Appreciating the Secrets of Dance. Firefly Books.
                </li><br>
            </ul>
            Ivonne Moreno (2023).
            <br>
            <br>
        </div>
        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <p>Las artes marciales son sistemas de combate y disciplinas físicas y mentales que se originaron en
                diferentes culturas alrededor del mundo. A lo largo de la historia, las artes marciales han evolucionado
                y se han desarrollado en diversas formas y estilos, cada uno con su propia filosofía, técnicas y
                prácticas.</p><br>
            <p>El origen de las artes marciales se remonta a civilizaciones antiguas, como China, Japón, India y Grecia.
                En China, se desarrollaron sistemas de combate como el Kung Fu y el Tai Chi, que enfatizan la conexión
                entre el cuerpo y la mente. En Japón, se originaron artes marciales como el Karate, el Judo y el Aikido,
                que se basan en principios de disciplina, respeto y autocontrol.</p><br>
            <p>Durante la Edad Media, las artes marciales jugaron un papel crucial en la formación y defensa de los
                guerreros y soldados. En Japón, se desarrollaron las técnicas de combate de los samuráis, mientras que
                en Europa se practicaban sistemas de lucha como la esgrima y la lucha medieval.</p><br>
            <p>En el siglo XX, las artes marciales se popularizaron en todo el mundo gracias a la difusión de películas
                de artes marciales y la apertura de escuelas y academias. Algunos estilos, como el Judo y el Taekwondo,
                se convirtieron en deportes olímpicos reconocidos internacionalmente.</p><br>
            <p>Las artes marciales no solo son una forma de defensa personal, sino que también ofrecen numerosos
                beneficios para quienes las practican. En primer lugar, promueven la salud y el bienestar físico. Las
                artes marciales requieren un alto nivel de actividad física, lo que ayuda a mejorar la fuerza, la
                resistencia, la flexibilidad y el equilibrio. Además, el entrenamiento en artes marciales fomenta la
                disciplina, la concentración y la autoconfianza.</p><br>
            <p>Además de los beneficios físicos, las artes marciales también tienen un aspecto mental y espiritual.
                Muchas disciplinas marciales se basan en principios filosóficos como el respeto, la humildad y la
                autodisciplina. Los practicantes aprenden a controlar sus emociones y a desarrollar un mayor
                autoconocimiento. Las artes marciales también fomentan la capacidad de concentración y la toma de
                decisiones rápidas en situaciones de estrés.</p><br>
            <p>En resumen, las artes marciales tienen una historia rica y diversa en diferentes culturas. Son una forma
                efectiva de defensa personal y ofrecen numerosos beneficios físicos, mentales y espirituales. Practicar
                artes marciales promueve la salud y el bienestar, así como valores fundamentales como la disciplina, el
                respeto y la autoconfianza. Es un deporte que puede ser disfrutado por personas de todas las edades y
                niveles de habilidad.</p><br>
                <div class="card" style="width: 18rem;">
                    <img src="assets/ninokarate.jpg" class="card-img-top" alt="ninokarate">
                    <div class="card-body">
                      <h5 class="card-title">Estudiante de Artes Marciales de 8 años</h5>
                    </div>
                  </div>
            <br>
            Referencias:<br>
            <ul>
                <li>Chen, Y., & Kam, J. (2009). Chinese Martial Arts: From Antiquity to the Twenty-First Century.
                    Cambridge University Press.</li><br>
                <li>Donohue, J. (2016). Warrior Dreams: The Martial Arts and the American Imagination. Greenwood
                    Publishing Group.</li><br>
            </ul>
            Ivonne Moreno (2023).
            <br>
            <br>
        </div>
        <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
            <p>Las artes visuales, que incluyen la pintura y la acuarela, tienen una rica historia que abarca miles de
                años. Estas formas de expresión artística han sido utilizadas por diversas culturas en todo el mundo
                para comunicar ideas, emociones y narrativas.</p><br>
            <p>La pintura, en su forma más básica, consiste en aplicar pigmentos en una superficie utilizando diferentes
                técnicas y herramientas. Desde las pinturas rupestres prehistóricas hasta las obras maestras de
                renombrados artistas como Leonardo da Vinci y Pablo Picasso, la pintura ha sido una forma poderosa de
                representar el mundo y las visiones de los artistas.</p><br>
            <p>La historia de la pintura es vasta y abarca distintos estilos y movimientos artísticos. Durante el
                Renacimiento, por ejemplo, artistas como Leonardo da Vinci y Rafael desarrollaron técnicas de pintura
                que buscaban capturar la belleza y la armonía de la naturaleza y el cuerpo humano. En el impresionismo,
                artistas como Claude Monet y Pierre-Auguste Renoir exploraron la luz y el color, utilizando pinceladas
                rápidas y visibles para capturar la atmósfera y las impresiones momentáneas.</p><br>
            <p>La acuarela, por su parte, es una técnica de pintura que utiliza pigmentos mezclados con agua para crear
                transparencias y efectos luminosos en una superficie, generalmente papel. Se cree que los antiguos
                egipcios fueron los primeros en utilizar esta técnica, y a lo largo de los siglos, la acuarela ha sido
                empleada por artistas de diversas culturas.</p><br>
            <p>La acuarela experimentó un gran desarrollo durante el Renacimiento y se convirtió en una técnica popular
                en Europa en los siglos XVIII y XIX. Los acuarelistas, como J.M.W. Turner y John Singer Sargent,
                utilizaron la acuarela para capturar paisajes, retratos y escenas de la vida cotidiana, aprovechando su
                fluidez y transparencia.</p><br>
            <p>La elección de la pintura como una forma de arte para los niños puede ser altamente beneficiosa. En
                primer lugar, la pintura fomenta la creatividad y la expresión personal. Permite a los niños explorar su
                imaginación, experimentar con colores y formas, y comunicar sus ideas y emociones de una manera visual y
                tangible.</p><br>
            <p>Además, la pintura estimula el desarrollo de habilidades motoras finas. Al sujetar los pinceles, mezclar
                colores y controlar los trazos, los niños mejoran su coordinación mano-ojo, su destreza manual y su
                capacidad para realizar movimientos precisos.</p><br>
            <p>La pintura también puede ser una herramienta terapéutica y una forma de relajación para los niños. Les
                permite expresar sus sentimientos y emociones de manera no verbal, al tiempo que les brinda un espacio
                seguro para la autoreflexión y la exploración creativa.</p><br>
            <p>Además, la pintura fomenta la apreciación del arte y la cultura. Al exponer a los niños a diferentes
                estilos y obras de arte, se les abre un mundo de posibilidades creativas y se desarrolla su sensibilidad
                estética.</p><br>
            <p>En resumen, la pintura y la acuarela son formas de expresión artística con una rica historia y una amplia
                gama de técnicas y estilos. Estas disciplinas permiten a los niños desarrollar su creatividad, mejorar
                sus habilidades motoras finas, experimentar con colores y texturas, y expresar sus emociones de manera
                visual. Además, la pintura promueve la apreciación del arte y la cultura, y puede ser una actividad
                terapéutica y relajante para los niños.</p><br>
                <div class="card" style="width: 18rem;">
                    <img src="assets/ninapintando.jpeg" class="card-img-top" alt="ninapintando">
                    <div class="card-body">
                      <h5 class="card-title">Estudiante de Pintura</h5>
                    </div>
                  </div>
            <br>
            Referencias:<br>
            <ul>
                <li>Hardy, C. (2003). The History of Painting. Walter Foster Publishing.</li><br>
                <li>Mayer, R. (1991). The Artist's Handbook of Materials and Techniques. Viking Adult.</li><br>
                <li>Pioch, N. (2002). WebMuseum, Paris: Famous Paintings. Retrieved from
                    http://www.ibiblio.org/wm/paint/</li><br>
                <li>Price, C. (2012). Watercolor Techniques: Painting Light and Color in Landscapes and Cityscapes.
                    North Light Books.</li><br>
            </ul>
            Ivonne Moreno (2023).
            <br>
            <br>
        </div>
    </div>
</div>