<div class="subject-container">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Home</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
                type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Profile</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane"
                type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Contact</button>
        </li>

    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
            tabindex="0">
            Home
        </div>
        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            Profile
        </div>
        <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
            Contact
        </div>
    </div>
</div>
















<!-- <div class="container">
    <div class="card">
            <img class="picture" src="assets/Victoria.jpeg">
        <div class="name">
            <h1>Victoria Rodriguez<br></h1>
            <h3>Tengo 5 años<br></h3>
            <h3>Soy todo un personaje<br></h3>
        </div>
        <div class="actions">
            <button class="profile-btn">Perfil</button>
            <button class="information-btn">+ información</button>
        </div>
    </div>
</div> -->
<!-- <div class="container-fluid">
    <div class="grid-buttons">
        <button type="button" id="ballet" class="-*">
            <img class="btn-ballet" src="assets/ninaballet.jpg" width="200px" height="200px" alt="Ballet">
        </button>
        <br>
        <button type="button" id="artesmarciales" class="btn-asignatura">
        </button>
        <br>
        <button type="button" id="artes" class="btn-asignatura">
        </button>
    </div>
    <article class="main" id="main">
        <div class="historia">
          <img class="estudianteejemplo"src="/assets/Victoria.jpeg" alt="BalletVictoria">  
        </div>
    </article>
</div> -->